<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}} Weather</title>
    <link
      href="{{url_for('static', filename='styles/styles.css')}}"
      rel="stylesheet"
    />
    <!-- FASK inserts into this file, when called -->
  </head>
  <body>
    <h1>{{title}} Weathers</h1>
    <p>{{ status }} and {{ temp }} &deg;</p>
    <p>Feels like and {{ feels_like }} &deg;</p>
    <form action="/weather">
      <input
        type="text"
        name="city"
        id="city"
        placeholder="Please Enter a City name"
      />
      <button type="submit">Submit</button>
    </form>
    <footer>
      <p>
        Data extracted live from
        <a href="https://openweathermap.org/" target="_blank">OpenWeatherMap</a>
      </p>
      <p>Powered by Python, Flask, HTML, and CSS</p>
      <p>
        Deployed with
        <a href="https://render.com" target="_blank">Render</a> using a Git
        repository
      </p>
    </footer>
  </body>
</html>
